.container{
    display: flex;
    height: 100vh;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}
.form-box{
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    flex-direction: column;
    border-radius: 3%;
}
.Logo-text{
    font-size: large;
    font-weight: bold;
    color: yellow;
}
.Register-text{
    font-size: 20px;
    font-weight: bold;
   color: aqua;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}
input{
    margin: 6px;
    padding: 10px;


}
